* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: slategrey;
    background-color: beige;
}
h1 {
    text-align: center;
    text-transform: uppercase;
}
p {
    text-align: center;
    font-size: 1.6rem;

}